.feature {
  margin: 4rem 0;
  margin-bottom: 7rem;

}

.feature img{
  width: 25vw;
  width: clamp(200px, 25vw, 250px);
}

.features {
  text-align: start;

  max-width: 50rem;
  min-width: 18rem;
  margin: auto;

  padding-inline: 1rem;
}

.main2 {
  width: 100%;
  background-color: var(--bg-sec);

  color: var(--text);
  opacity: 0;
  z-index: 3;
}

.content h3 {
  font-size: clamp(1.5rem, 8vw, 3rem);
  color: var(--bg);
}

.content h2 {
  font-size: clamp(2rem, 10vw, 4rem);
}

.content h2, h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Bebas Neue', cursive;
}

@media screen and (min-width: 810px) {
  .feature {
    display: flex;

    margin-bottom: 10rem;

    padding: 1rem 0;

    border-left: 0.75rem solid var(--bg);
    /* border: 4mm ridge rgb(255, 255, 255); */
  }

  .feature:nth-child(even) {
    flex-direction: row-reverse;
    border-right: 0.75rem solid var(--bg);
    border-left: none;
  }

  .feature figure {
    flex: 1;
  }

  .feature .content {
    flex: 2;
    padding: 0 2rem;
  }
}

.box {
  box-shadow: 
  0 1px 1px hsl(0deg 0% 0% / 0.075),

  0 2px 2px hsl(0deg 0% 0% / 0.075),

  0 4px 4px hsl(0deg 0% 0% / 0.075),

  0 8px 8px hsl(0deg 0% 0% / 0.075),

  0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.rounded {
  border-radius: 0.5rem;
}


.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  z-index: 4;
  /* margin-top: 10vw; */
}

.layer1 {
  background-image: var(--svg-waves);
}

#group {
  stroke: var(--text);
  animation: šipka 2s ease-in infinite alternate-reverse;
}

@keyframes šipka {
  to {
    transform: translateY(-2.5px);
  }
}

#arrow {
  animation: fade 3s ease-out 1s infinite;
  opacity: 1;
}

#arrow:nth-child(1) {
  animation: fade 3s ease-out 2s infinite;
}

#arrow:nth-child(2) {
  animation: fade 3s ease-out infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

#Ellipse {
  fill: var(--box-shadow);
  transform: translateY(4px);
  opacity: 0;
  animation: stín 2s ease-in infinite alternate-reverse;
}

@keyframes stín {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.projekty svg{
  width: 50vw;
}