.feature {
  margin: 4rem 0;
}

.feature h3 {
  color: rgb(0, 17, 253);
}

.feature .content {
  position: relative;
}

.feature img{
  width: 15rem;
}

.features {
  text-align: start;
}

.content h2 {
  font-size: 2rem;
}

.content h2, h3, p {
  margin: 0;
  padding: 0;
}