html {
  scroll-behavior: smooth;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Body */
body {
  background-color: var(--main-bg);
  color: var(--text);


  min-height: 100vh;

  font-family: 'Roboto Mono', monospace;
    
  text-align: center;
  align-items: center;

  display: grid;
  place-items: center;

  margin: 0 auto;
  padding: 0;

  min-width: 0px;

  overflow-x: hidden;
  overflow-y: hidden;
}

/* Text stuff */

.text1 {
  font-size: 1rem;
}

.text2 {
  font-size: 1rem;
  text-align: start;

  line-height: 1.5rem;
}



h1 {
  font-size: 3rem;
}

h2 {
  font-size: clamp(1rem, 1vw, 1.25rem);
}

h3 {
  font-size: 2rem;
}

.footer {
  opacity: 0;
  width: 100%;
  padding-top: 4rem;
  color: var(--text);
  text-align: start;
  background-color: var(--project-bg);

  display: grid;
  grid-template-columns: 1fr 1fr;

  word-break: break-word;

  text-align: center;
  border-top: 1rem solid var(--navbar-bg);
  z-index: 6;
}

.footer p {
  color: rgb(160, 160, 160);
  font-size: 1rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-style: italic;
  font-weight: lighter;
  grid-column: 1/3;
}

.contact-link {
  text-decoration: none; 
  color: var(--text);
  text-decoration: underline;
}

.github, .discord{
  font-size: clamp(1.2rem, 3vw, 4rem);
  font-weight: 700;
}

@media (max-width: 537px) {
  .footer{
    display: block;
    align-items: center;
  }  
}

.name {
  font-size: 3rem;
  font-weight: 800;
  margin: 0px;
  border-bottom: 0px;
  font-weight: 900;
}

.animated {
  animation: show 2s 4s ease-in-out forwards,
  overflow-y 2s 4s ease-in-out forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes overflow-y {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: visible;
  }

}

/* Main */

.main{
  color: var(--text);
  max-width: 30rem;
  min-width: 18rem;
  opacity: 0;

  position: relative;
  margin: auto;
  margin-top: 8rem;
  padding-inline: 1rem;
  z-index: 6;
}

.card {
  position: relative;
}

.card-inner {
  width: inherit;
  height: inherit;
  margin: 2rem;
  padding: 1.25rem;
  background-color: rgba(123, 123, 126, 0.205) !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) !important;
  backdrop-filter: blur(10px);
  border-radius: 8px ;

  color: var(--text);
  background-color: var(--navbar-bg);

  position: relative;


  margin: 2rem;
  padding: 1.25rem;

  border: 2px solid var(--border-color);
  border-radius: 0.75rem;
  box-shadow: 0 5px 25px var(--box-shadow) !important;
}

.circle {
  width: 5rem;
  height: 5rem;
  background: var(--circle-linear);
  border-radius: 50%;
  position: absolute;
  animation: move 6s ease-in-out infinite;
}

.circle::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: var(--circle-linear);
  animation: rotate_circle 15s linear infinite;
}

.icons .card-inner {
  justify-content: center;
  align-items: center;
  display: flex;
  height: min-content;
}

.circle:nth-child(1) {
  top: -25px;
  left: -5px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -5px;
  animation: move 6s ease-in-out 2s infinite;
}
@keyframes move {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes rotate_circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Type writer */

/* .logo3 {
  font-size: 5vw;

  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 1;

  font-family:monospace;
}

.logo3::before,
.logo3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo3::before {
  background-color: var(--linear1);
  animation: typewriter 2.3s steps(8) 1s forwards infinite;
}

.logo3::after {
  width: 0.125em;
  background: var(--black);
  animation: typewriter 2.3s steps(8) 1s forwards infinite,
  blink 750ms steps(8) infinite;
}

@keyframes typewriter {
  to {
    left: 100%
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
} */

/* Media Query */

@media (max-width: 496px){
  .circle {
    display: none;
  }
  .name {
    font-size: 1.7rem;
  }
}

.projekty-arrow {
  margin-top: 10vw;
  color: var(--text);
  opacity: 0;
  font-family: 'Bebas Neue', cursive;
  z-index: 6;
}

.projekty-arrow h2 {
  font-size: clamp(3rem, 15vw, 6rem);
}

/* Splash screen */

.intro {
  z-index: 3;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text);
}

.logo {
  font-size: 5vw;

  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo::before,
.logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.logo::before {
  background-color: var(--main-bg);
  min-width: 200%;
  animation: typewriter 2.3s steps(11) 1s forwards;
}

.logo::after {
  width: 0.125em;
  background: var(--black);
  animation: typewriter 2.3s steps(11) 1s forwards,
  blink 750ms steps(11) infinite;
}

@keyframes typewriter {
  to {
    left: 100%
  }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #323232 #4b4b4b;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: #4b4b4b;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #323232;
    border-radius: 10px;
    border: 2px solid #323232;
  }

/* Navigation bar*/
.navbar-main {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 70px;
  width: 100%;
  background: var(--navbar-bg);
  color: var(--text);
  z-index: 9999;
}

.navbar {
  position: absolute;
  top: 0;
  height: 70px;
  width: 100%;
  background: var(--navbar-bg);
  color: var(--text);
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: var(--navbar-text);
  font-size: inherit;
  cursor: pointer;
  padding: 0;

  width: 100%;
  height: 100%;
}

.dropdown.active > .link,
.link:hover {
  transition: 1s;
  color: var(--navbar-hover);
}

.dropdown {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + .25rem);
  background-color: var(--navbar-bg);
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links {
  display: flex;
  gap: 3.5rem;
}


@keyframes blink {
  to {
    background: transparent;
  }
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.logo2 {
  font-size: 3vw;

  position: relative;
  display: inline-block;
  bottom: -350px;
  opacity: 0;
}

.logo2.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo2.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.feature {
  margin: 4rem 0;
  margin-bottom: 7rem;
}

.feature img{
  width: 25vw;
  width: clamp(200px, 25vw, 250px);
}

.projekty {
  width: 100%;
  background-color: var(--project-bg);

  color: var(--text);
  opacity: 0;
  z-index: 6 !important;
}

.features {
  text-align: start;

  max-width: 50rem;
  min-width: 18rem;
  margin: auto;

  padding-inline: 1rem;
  z-index: 6 !important;
}

.content h3 {
  font-size: clamp(1.5rem, 8vw, 3rem);
  color: var(--navbar-bg);
}

.content h2 {
  font-size: clamp(2rem, 10vw, 4rem);
}

.content h2, h3 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: 'Bebas Neue', cursive;
}

@media screen and (min-width: 810px) {
  .feature {
    display: flex;

    margin-bottom: 10rem;

    padding: 1rem 0;

    border-left: 0.75rem solid var(--navbar-bg);
    /* border: 4mm ridge rgb(255, 255, 255); */
  }

  .feature:nth-child(even) {
    flex-direction: row-reverse;
    border-right: 0.75rem solid var(--navbar-bg);
    border-left: none;
  }

  .feature figure {
    flex: 1;
  }

  .feature .content {
    flex: 2;
    padding: 0 2rem;
  }
}

.box {
  box-shadow: 
  0 1px 1px hsl(0deg 0% 0% / 0.075),

  0 2px 2px hsl(0deg 0% 0% / 0.075),

  0 4px 4px hsl(0deg 0% 0% / 0.075),

  0 8px 8px hsl(0deg 0% 0% / 0.075),

  0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.rounded {
  border-radius: 0.5rem;
}


.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  z-index: 6;
}

.layer1 {
  background-image: var(--svg-waves);
}

#group {
  stroke: var(--text);
  animation: šipka 2s ease-in infinite alternate-reverse;
}

@keyframes šipka {
  to {
    transform: translateY(-2.5px);
  }
}

#arrow {
  animation: fade 3s ease-out 1s infinite;
  opacity: 1;
}

#arrow:nth-child(1) {
  animation: fade 3s ease-out 2s infinite;
}

#arrow:nth-child(2) {
  animation: fade 3s ease-out infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

#Ellipse {
  fill: var(--arrow-shadow);
  transform: translateY(4px);
  opacity: 0;
  animation: stín 2s ease-in infinite alternate-reverse;
}

@keyframes stín {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.projekty-arrow svg{
  width: 50vw;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  
  50% {
    scale: 1 1.5;
  }
  
  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 1;
  filter: blur(10vmax);
  z-index: 5;
}